.CS {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: whitesmoke;
}

#titleCS {
    padding-top: 20px;
    color: whitesmoke;
    margin-bottom: 20px;
}

#allTheSourdough {
    height: 400px;
    width: 275px;
    margin-bottom: 40px;
    justify-content: center;    
}

a {
    color: whitesmoke !important;
    text-decoration: none !important;
}

a :hover {
    text-decoration: underline;
}

#fbImg {
    height: 80px;
}

#hrdivider {
    color: #474545; 
}
#sendMessageH3 {
    color: whitesmoke;
    padding: 20px;
    margin-top: 20px;
}

.contactColumn {
    display: flex;
    justify-items: center;
}

.formspreeDiv {
    display: flex;
    justify-content: center;
}

.fs-frm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.inputFields {
    display: flex;
    justify-content: center;
}

.fs-frm input,
.fs-frm select,
.fs-frm textarea,
.fs-frm fieldset,
.fs-frm optgroup,
.fs-frm label,
.fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 15px;;
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.fs-frm label,
.fs-frm legend,
.fs-frm ::placeholder {
  font-size: .825em;
  margin-bottom: .5em;
  padding-top: .2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* border, padding, margin, width */
.fs-frm input,
.fs-frm select,
.fs-frm textarea,
.fs-frm #card-element {
  border: 2px solid rgba(0,0,0,0.2);
  background-color: lightgrey;
  padding: .75em 1em;
  margin-bottom: 1.5em;
  width: 100%;
  border-radius: 15px;
  justify-content: center;
}
.fs-frm input:focus,
.fs-frm select:focus,
.fs-frm textarea:focus {
  background-color: lightgrey;
  outline-style: solid;
  outline-width: thin;
  /* outline-color: black; */
  outline-offset: -1px;
  border-radius: 15px;
}
.fs-frm [type="text"],
.fs-frm [type="email"] {
  width: 100%;
  justify-content: center;
}
.fs-frm [type="button"],
.fs-frm [type="submit"],
.fs-frm [type="reset"] {
  /* width: auto; */
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  /* border: 2px solid black; */
  /* flex-direction: column; */
  border-radius: 15px;
  width: 100px;
  align-items: center;
 
}
.fs-frm [type="button"]:focus,
.fs-frm [type="submit"]:focus,
.fs-frm [type="reset"]:focus {
  outline: none;
}
.fs-frm [type="submit"],
.fs-frm [type="reset"] {
  margin-bottom: 20px;
}
.fs-frm select {
  text-transform: none;
}

.fs-frm [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 .5em 0 0 !important;
}

.fs-frm [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

/* address, locale */
/* .fs-frm fieldset.locale input[name="city"],
.fs-frm fieldset.locale select[name="state"],
.fs-frm fieldset.locale input[name="postal-code"] {
  display: inline;
}
.fs-frm fieldset.locale input[name="city"] {
  width: 52%;
}
.fs-frm fieldset.locale select[name="state"],
.fs-frm fieldset.locale input[name="postal-code"] {
  width: 20%;
}
.fs-frm fieldset.locale input[name="city"],
.fs-frm fieldset.locale select[name="state"] {
  margin-right: 3%;
} */

.submitMessageDiv {
    display: flex;
    justify-content: center;
}
#submitButton {
    background-color: #22545c;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* end of form*/
/* 
.comingSoonContact {
    display: flex;
    justify-content: center;
}

#form-message-input {
    justify-items: center;
} */

#checkboxInputNotify {
    color: whitesmoke;
    margin: 20px;
}

